@charset "utf-8";
@import url("../style.css?v=1");

html {
	scroll-behavior: smooth;
}

/*====================
 * 全体レイアウト
 */
 .highschool header {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

/* 横幅 640px 未満 */
body.highschool {
	background: white;
	font-family: "BIZ UDPGothic","ヒラギノ角ゴシック";
}

footer {
	padding-bottom: 120px;
}

.highschool .content_area {
	display: block;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
	z-index: 1;
}

.highschool .content_area main {
	background: #F0F5FF;
}

.highschool .content_area .company_nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	z-index: 100;
	transform: translate3d(0, 0, 1px);
	background: white;
}

.btn_top {
	display: block;
	position: fixed;
	box-sizing: border-box;
	width: 4em;
	height: 4em;
	right: 1em;
	bottom: 8em;
	z-index: 100;
	transform: translate3d(0, 0, 1px);
}

/* 横幅 640px 以上 */
@media screen and (min-width: 640px) {

	footer {
		padding-bottom: 0;
	}

	body.highschool {
		background: #eee;
	}

	.highschool .content_area {
		position: relative;
		margin: 8px auto;
		padding: 0 8px;
		overflow: clip;
	}

	.highschool .content_area main {
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		width: 66%;
		border: 1px solid #ddd;
		border-radius: 8px;
	}

	.highschool .content_area .company_nav {
		float: right;
		position: -webkit-sticky;
		position: sticky;
		top: 8px;
		box-sizing: border-box;
		width: 32%;
		border: 1px solid #ddd;
		border-radius: 8px;
	}

	.btn_top {
		bottom: 2em;
	}
}

/*====================
 * ヘッダー
 */
 .highschool header .title_area {
	display: block;
	margin: 0;
	padding: 0;
}

.highschool header .title_text {
	display: block;
	margin: 0;
	padding: 2px 8px;
	font-weight: bold;
}

.highschool header .title_text .theme_logo {
	vertical-align: middle;
	width: 80px;
}

.highschool header .company_name {
	float: left;
	display: block;
	margin: 4px;
	width: 50%;
	line-height: 1;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

.highschool header .company_name .logo {
	width: 100%;
	margin: 0;
	padding: 0;
}

.highschool .btn_return {
	float: right;
	display: block;
	border: 1px solid #aaa;
	text-decoration: none;
}

.highschool .btn_return:hover {
	transition: background-color 0.5s;
	background-color: #dae1f1;
}

.highschool .btn_return .btn_wrapp {
	padding: 4px;
	width: 160px;
	font-size: 12px;
	text-align: center;
	line-height: 1;
}
.highschool .btn_return .logo {
	width: 100%;
	margin: 0;
	padding: 0;
}

.highschool .btn_return span {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 6px;
}

.highschool .btn_return .theme_logo {
	display: block;
	width: 80px;
}

.highschool .btn_design {
	display: none;
}

.highschool header .company_nav {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	text-align: center;
}

.highschool .company_nav .selected a {
	font-weight: bold;
}

.highschool header .company_nav li {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 4px 0;
	width: 105px;
	text-align: center;
	font-size: 14px;
}

.highschool header .company_nav li a {
	display: block;
	width: 100%;
	height: 100%;
}

.highschool header .company_nav li a:hover {
	transition: background-color 0.5s;
	background-color: #dae1f1;
}

@media all and (min-width: 360px) {
	.highschool header .company_nav li {
		width: 120px;
		font-size: 16px;
	}

	.highschool header .company_name {
		margin: 8px;
	}
	
	.highschool .btn_return {
		margin: 8px;
	}
}

@media all and (min-width: 640px) {
	.highschool header .company_name {
		width: 320px;
		margin: 8px;
	}

	.highschool .btn_return {
		font-size: 16px;
		margin: 8px;
		display: flex;
		border: 1px solid #17AFDA;
	}

	.highschool .btn_return .btn_wrapp {
		width: 200px;
	}

	.highschool .btn_design {
		width: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #17AFDA;
	}
}

@supports (display: flex) {
	.highschool header .title_area {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}

	.highschool header .title_area .company_name {
		margin-right: auto;
	}

	.highschool header .company_nav {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: space-around;
		width: auto;
		flex: 1 0 auto;
	}
	
	.highschool .btn_return {
		margin: 8px;
	}

}


/*====================
 * メイン部のレイアウト
 */
.btn_top {
	display: block;
	position: fixed;
	box-sizing: border-box;
	width: 4em;
	height: 4em;
	right: 1em;
	bottom: 8em;
	border: 1px solid #888;
	border-radius: 50%;
	padding: 0.3em 0;
	z-index: 100;
	transform: translate3d(0, 0, 1px);
	box-shadow: 3px 3px 3px #888;
	text-align: center;
	font-weight: 900;
	line-height: 1;
	background-color: white;
}

.btn_top:link {
	text-decoration: none;
	color: black;
}

.btn_top:visited {
	color: black;
}

/* 印刷スタイルシート */
@media print {
	.highschool .content_area main {
		display: block;
		margin: 0 auto;
		max-width: 800px;
	}

	.highschool .content_area .company_nav {
		display: none;
	}

	.highschool .btn_top {
		display: none;
	}
}

/*==============
 * ナビ
 */
.highschool .company_nav {
	border-top: 1px solid #ddd;
}

.highschool .company_nav .selected a {
	font-weight: bold;
}

.highschool .company_nav a:link {
	text-decoration: none;
}

.highschool .company_nav .company_logo {
	display: none;
}

.highschool .company_nav ul {
	margin: 8px;
	padding: 0;
	text-align: center;
}

.highschool .company_nav li {
	display: inline-block;
	font-size: 12px;
}

.highschool .company_nav li a:link {
	color: black;
}

.highschool .company_nav img.icon {
	display: block;
	height: 36px;
	margin: 0 auto;
}

.highschool .company_nav .btn_entry {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	column-gap: 2%;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30%;
	padding: 4px;
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 2px black;
	background: repeating-linear-gradient(135deg, #3396F3, #3396F3 10px, #35A7F4 10px, #35A7F4 20px);
}

.highschool .company_nav .btn_entry:hover {
	transition: background-color 0.5s, color 0.5s;
	background-color: white;
	color: orange;
}

.highschool .company_nav .btn_entry .flag {
	width: 18%;
}

.highschool .company_nav ul.submenu {
	display: block;
	position: absolute;
	bottom: 2em;
	border: 1px solid #ddd;
	padding: 0.5em;
	opacity: 0;
	visibility: hidden;
	background: white;
	transition: opacity 0.5s, visibility 0.5s;
}

.highschool .company_nav ul.submenu[open] {
	opacity: 1;
	visibility: visible;
}

.highschool .company_nav ul.submenu li {
	display: block;
	font-size: 16px;
	line-height: 44px;
}

@supports (display: flex) {

	.highschool .company_nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.highschool .company_nav .company_logo {
		order: 1;
	}

	.highschool .company_nav .btn_entry {
		position: static;
		align-self: center;
	}

	.highschool .company_nav ul {
		flex-basis: 100%;
		order: 3;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
}

@media all and (min-width: 640px) {
	.highschool .company_nav .company_logo {
		display: block;
		width: 80%;
		height: auto;
		margin: 8px auto;
	}
	
	.highschool .company_nav ul {
		display: block;
		margin: 8px;
		padding: 0;
		list-style: none;
	}
	
	.highschool .company_nav ul li {
		display: block;
		padding: 8px 0 8px 10%;
		border-bottom: 2px dashed #ddd;
		text-align: left;
		font-size: medium;
	}
	
	.highschool .company_nav img.icon {
		display: inline;
		height: 36px;
		margin: 0 8px 0 0;
		vertical-align: middle;
	}

	.highschool .company_nav .btn_entry {
		display: flex;
		order: 4;
		width: 70%;
		margin: 8px auto;
		padding: 8px;
		font-weight: bold;
	}

	.highschool .company_nav ul.submenu {
		display: inherit;
		position: inherit;
		bottom: inherit;
		margin: 0;
		border: 0;
		padding: 0;
		opacity: inherit;
		visibility: visible;
		background: inherit;
	}

	.highschool .company_nav ul.submenu li {
		display: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	
	.highschool .company_nav ul.submenu li:last-child {
		border-bottom: 0;
	}
	
}

/* ==============
 * 本文
 */
/* ファーストビュー */
p {
	padding: 0 10px;
	text-align: justify;
	margin: 0 auto;
	line-height: 1.8rem;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

.highschool main .fv_area {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	display: flex;
	box-shadow: 0px 0px 2px black;
}

.highschool main .fv_area .fv_image {
	width: 100%;
	height: auto;
	aspect-ratio: 3 / 2;
	z-index: 0;
	object-fit: cover;
}

@supports (object-fit: cover) {
	.highschool main .fv_area .fv_image {
		max-height: 480px;
	}
}

.highschool main .fv_area hgroup {
	position: absolute;
	top: 0;
	right: 0;
}

.highschool main .fv_area h1 {
	color: #00509B;
	font-size: clamp(1.125rem, 0.852rem + 1.36vw, 1.875rem);
	font-weight: bold;
	padding: 4px;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: "ヒラギノ角ゴシック";
}

.highschool main .fv_area .fv-tag {
	color: #fff;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6), 0px 1px 0px rgba(0, 0, 0, 0.6);
	background: #35A7F4;
	box-shadow: 0px 0px 6px #000000;
	font-size: 16px;
	font-weight: bold;
	padding: 4px 12px;
	width: fit-content;
	margin: 0 0 0 auto;
}

/* 各職種FV */

.highschool main .fv_area a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	margin: 0;
	border: 1px solid white;
	padding: 8px 24px;
	width: 40%;
	bottom: 5%;
	left: 16px;
	font-weight: bold;
	text-shadow: 0px 0px 3px black;
	text-decoration: none;
	color: white;
	background: repeating-linear-gradient(135deg, #3396F3, #3396F3 10px, #35A7F4 10px, #35A7F4 20px);
}

.highschool main .fv_area a::after {
	content: "";
	display: block;
	width: 10px;
	height: calc(10px / 2* tan(60deg));
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	background-color: white;
}

.highschool main .fv_area .label {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 20%;
	bottom: 5%;
	right: 16px;
}


/* 各職種ページ見出し */

.g h2 {
	display: flex;
	column-gap: 8px;
	align-items: center;
	color: #00509B;
	font-size: large;
	white-space: nowrap;
	padding: 0 16px;
}

.g h2::before,
.g h2::after {
	content: "";
	padding: 0 8px;
	width: 100%;
	height: 2px;
	border-top: 1px solid #00509B;
	border-bottom: 1px solid #00509B;
}

/* ページ内ナビ */
.highschool section.page-nav {
	margin: 16px auto 32px;
	padding: 0 8px;
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

.highschool section.page-nav a {
	text-decoration: none;
	color: black;
	display: flex;
}

.highschool section.page-nav a div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.highschool section.page-nav .btn {
	padding: 20px 12px;
	width: 100%;
	column-gap: 6px;
	background-color: #DAE1F1;
	font-weight: bold;
}

.highschool section.page-nav .btn p {
	margin: 0;
	flex-shrink: 0;
}

.highschool section.page-nav .btn-af {
	background-color: #35A7F4;
}

.highschool section.page-nav div span {
	margin: 0 5px;
	width: 6px;
	height: 12px;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	background-color: white;	
}

@media (min-width: 640px) {
	.highschool section.page-nav {
		padding: 0 65px;
	}

	.highschool section.page-nav .btn {
		padding: 24px 36px;
	}
}

/* 一日密着動画を見る */
.youtube .frame {
	padding: 0 8px;
	aspect-ratio: 16 / 9;
}

.youtube .frame iframe {
	width: 100%;
	height: 100%;
}

/* 写真で雰囲気を知る */
/*----------------------------------------*
 * NRギャラリー
 *----------------------------------------*/
/* ギャラリーの外枠 */
.NRGallery {
	width: 100%;
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

/* 表示エリア */
.NRGallery .image_area {
	width: 1000px;
	height: 600px;
	background: #EEEEEE;
	position: relative;
}

.NRGallery ul.slides {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* スライド */
.NRGallery ul.slides li {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	list-style-type: none;
	z-index: 0;
}

.NRGallery ul.slides li.show {
	z-index: 1;
}

/* スライド内の画像 */
.NRGallery ul.slides li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* スライド内の字幕 */
.NRGallery ul.slides li .caption {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 2em;
	line-height: 2em;
	text-shadow: 0px 0px 2px black;
	background: linear-gradient(to bottom, transparent, black);
	color: white;
	font-size: 16px;
	text-align: center;
}

/* サムネイルエリア */
.NRGallery ul.thumbnails {
	margin: 1em 0 0 0;
	display: block;
	padding: 0;
}
.NRGallery ul.thumbnails li {
	display: inline-block;
	box-sizing: border-box;
	border: transparent 2px solid;
	width: 64px;
	height: 64px;
}
.NRGallery ul.thumbnails li img {
	width: 100%;
	height: 100%;
	border: 0;
	object-fit: cover;
}

.NRGallery ul.thumbnails li.selected {
	border-color: blue;
}

.NRGallery .image_area .button {
	position: absolute;
	background: rgb(255, 255, 255, .4);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	top: calc((100% - 50px) / 2);
	z-index: 10;
	font-family: monospace;
	font-size: 32px;
	cursor: pointer;
}

.NRGallery .image_area .left_btn {
	left: 0;
}

.NRGallery .image_area .right_btn {
	right: 0;
}

.NRGallery .image_area .button:hover {
	background: rgb(255, 255, 255, .6);
}

/* 社員紹介 */
#employee_introduction .Lightbox  {
	margin: 1em 40px;
}

#employee_introduction .Lightbox .thumbnails {
	position: relative;
}

#employee_introduction .Lightbox .thumbnails::after {
	display: block;
	content: "";
	background: url(glass.svg) no-repeat center;
	background-size: contain;
	width: clamp(40px, 4em, 50px);
	height: clamp(40px, 4em, 50px);
	position: absolute;
	bottom: 33%;
	left: 170px;;
}

#employee_introduction .Lightbox .thumbnails .thumbnail img {
	max-width: 220px;
}





.thumbnails img.glass,
#theLightbox img.glass {
	position: absolute;
	bottom: 6px;
	right: 6px;
	width: 30px;
	object-fit: cover;
}

.member-list .thumbnails p {
	margin: 0;
}

.thumbnail.furuya {
	background-image: url(https://placehold.jp/150x150.png);
}
.thumbnail.itou {
	background-image: url(https://placehold.jp/150x150.png);
}
.thumbnail.miyasaka {
	background-image: url(https://placehold.jp/150x150.png);
}

#theLightboxBackground {
	display: none;
}

#theLightbox {
	display: none;
	width: 0;
	height: 0;
}

.thumbnail hgroup {
	display: none;
}

#theLightbox button {
	display: block;
	margin: 0 0 8px auto;
	color: white;
	font-weight: bold;
	font-size: 40px;
	width: 50px;
	height: 50px;
	background-color: #00ABDA;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}

#theLightboxBackground.active {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 110;
}

#theLightbox.active {
	display: block;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 50%;
	height: 80vh;
	overflow: scroll;
	overscroll-behavior: none;
}

#theLightboxContainer img {
	display: block;
	width: 100%;
}

#theLightbox.active hgroup {
	height: 800px;
	display: block;
	color: #000;
}

@media (min-width: 640px) {
	#theLightbox.active {
		height: 100vh;
		top: 70%;
		overflow: unset;
	}

	#theLightbox.active .thumbnail {
		display: flex;
		gap: 0 20px;
	}

	#theLightbox.active .thumbnail hgroup h3 {
		margin-top: 0px;
	}

	#theLightboxContainer img {
		width: 45%;
		height: 45%;
	}
}

/* 募集要項 */
.requirements .tabs button {
	border: solid 1px #00509B;
	border-width: 1px 1px 0 1px;
	border-radius: 8px 8px 0 0;
	padding: 10px 40px;
}

.requirements .tabs .tab1 {
	color: white;
	background-color: #00509B;
}

.requirements .tabs .tab2 {
	background-color: #D4E1FF;
}

.requirements .requirement {
	border: 1px solid #00509B;
	border-radius: 0 8px 8px 8px;
	padding: 16px;
	background-color: #fff;
}

.requirements .requirement h3 {
	display: flex;
	align-items: center;
	column-gap: 10px;
	color: #00009D;
}

.requirements .requirement h3::before {
	content: "";
	width: 20px;
	height: 2px;
	background-color: #00009D;
}

.requirements .requirement dl > div {
	margin: 2px 0;
	padding: 8px 16px;
	background-color: #DAE1F1;
}

.requirements .requirement dl dt {
	flex-basis: 22%;
	color: #00509B;
	font-weight: bold;
}

.requirements .requirement dl dd {
	margin: 0;
	flex-basis: 70%;
}

.requirements .btn_entry {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	column-gap: 2%;
	margin: 32px auto;
	padding: 4px;
	width: 100%;
	max-width: 320px;
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 2px black;
	background: repeating-linear-gradient(135deg, #3396F3, #3396F3 10px, #35A7F4 10px, #35A7F4 20px);
}

.requirements .btn_entry:hover {
	transition: color 0.5s;
	color: orange;
}

.requirements .btn_entry .flag {
	width: 18%;
}

@media (min-width: 640px) {	
	.requirements .requirement dl > div {
		display: flex;
		column-gap: 8%;
	}

	.highschool .company_nav .btn_entry {
		display: flex;
		order: 4;
		width: 70%;
		margin: 8px auto;
		padding: 8px;
		font-weight: bold;
	}
}

/* 他の職種を見てみる */
.nextpage ul {
	padding: 0 25px;
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.nextpage ul li {
	list-style: none;
}

.nextpage ul li a {
	position: relative;
}

.nextpage ul li a img {
	width: 100%;
}

.nextpage ul li a p {
	position: absolute;
	bottom: 6px;
	right: 6px;
	display: flex;
	align-items: center;
	column-gap: 16px;
	color: white;
	font-weight: bold;
	font-size: large;
	text-shadow: 0px 2px 10px black;
}

.nextpage ul li a p span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(#00ABDA, #3396F3);
}

.nextpage ul li a p span::after {
	content: "";
	width: 6px;
	height: 12px;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	background-color: white;
}


/* 目次 */
.highschool section.toc {
	margin: 30px 8px;
	padding: 0 0 4px;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.toc::before {
	content: "";
	background: url(memo.png) no-repeat center;
	background-size: contain;
	width: 40px;
	height: 40px;
	display: block;
	position: relative;
	top: -20px;
}

.highschool section.toc h2 {
	margin: 8px;
	padding-left: 8px;
	line-height: 1;
	color: #0585A9;
}

.toc hgroup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -20px;
}

.toc div {
	background-color: #35A7F4;
	width: 30px;
	height: 30px;
	border-radius: 50vw;
	margin-right: 16px;
	position: relative;
}

.toc div span {
	width: 14px;
	height: 3px;
	background-color: #fff;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.toc ol {
	margin: 8px;
	padding: 0;
	list-style-position: inside;
}

.toc ol li {
	padding: 0 8px;
	line-height: 2.0;
	border-bottom: 1px solid #00ABDA;
	display: flex;
	gap: 18px;
	align-items: center;
	max-width: 620px;
	margin: 16px auto 0;
	opacity: 0;
	max-height: 0;
	transition: .3s;
}

.toc ol li a {
	color: #002C56;
}

.toc .abu::before {
	background: url(group.png) no-repeat center;	
	background-size: contain;
	width: 24px;
	height: 24px;
	content: "";
	display: block;
}

.toc .suit::before {
	background: url(women.png) no-repeat center;	
	background-size: contain;
	width: 20px;
	height: 20px;
	content: "";
	display: block;
}

.toc .f-pre::before {
	background: url(chair.png) no-repeat center;	
	background-size: contain;
	width: 20px;
	height: 20px;
	content: "";
	display: block;
}

.toc .com-in::before {
	background: url(print.png) no-repeat center;	
	background-size: contain;
	width: 20px;
	height: 20px;
	content: "";
	display: block;
}

.toc .num-d::before {
	background: url(graph.png) no-repeat center;	
	background-size: contain;
	width: 20px;
	height: 20px;
	content: "";
	display: block;
}

.toc .pro::before {
	background: url(hummer.png) no-repeat center;	
	background-size: contain;
	width: 20px;
	height: 20px;
	content: "";
	display: block;
}

.toc ol > li a:link {
	text-decoration: none;
	color: #002C56;
	line-height: 1.8;
}

.active.toc div span:nth-child(2) {
	transform: translate(-50%, -50%) rotate(90deg);
	transition: .3s;
}

ol {
	max-height: 0;
	transition:
		max-height .3s ease-out;
}

.toc ol li {
	    /* 閉じている状態 */
			padding-top: 0;
			padding-bottom: 0;
			/* 閉じアニメーション */
			transition:
					padding-top    .3s ease-out,
					padding-bottom .3s ease-out;	
}

ol li a {
	    /* 閉じている状態 */
			line-height: 0;
			opacity: 0;
			visibility: hidden;
			/* 閉じアニメーション */
			transition:
					line-height .3s ease-out,
					opacity     .1s linear,
					visibility  .1s linear;	
}

.active ol {
	max-height: 500px;
	transition: 
			max-height .3s ease-in;
}

.active.toc ol li {
			opacity: 1;
	    /* 開く */
			padding-top: 14px;
			padding-bottom: 14px;
			/* 開くアニメーション */
			transition:
					.3s,
					padding-top    .3s ease-out,
					padding-bottom .3s ease-out;
}

.active li a {
	    /* 開く */
			line-height: 1.2;
			opacity: 1;
			visibility: visible;
			/*  開くアニメーション */
			transition:
					line-height .3s ease-out,
					opacity     .1s linear .1s,
					visibility  .1s linear .1s;	
}

#company_gallery.content h2 {
	padding: 8px;

}

#company_gallery.content h2::before,
#company_gallery.content h2::after {
	display: none;
}

/* ギャラリーウィンドウ */
#gallery {
	margin: 20px 10px;
}

.gallery_window {
	width: 100%;
	aspect-ratio: 4 / 3;
	position: relative;
}

/* ギャラリーウィンドウ内の画像 */
.gallery_window .fs,
.gallery_window .sc,
.gallery_window .th,
.gallery_window .fo {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
}

/* ギャラリーウィンドウ内の表示中の画像 */
.gallery_window .show {
	display: block;
	width: 100%;

}

/* サムネイルのリスト */
.gallery_index {
	display: flex;
	justify-content: space-between;

}

/* リスト内のサムネイル */
.gallery_index img {
	display: flex;
	width: 24%;
	height: auto;
	object-fit: cover;
}

@media (min-width: 900px) {
	#gallery {
		display: flex;
		justify-content: space-evenly;
		gap: 12px;
	}

	.gallery_window {
		width: 75%;
		height: 400px;
	}

	.gallery_window .show {
		object-fit: cover;
	}

	.gallery_index {
		flex-flow: column;
		width: 20%;
		height: auto;
	}

	.gallery_index img {
		width: 100%;
		height: 24%;
	}
}

/* 募集職種ボタン */

#company_gallery h3 {

}

.job_btn li {
	display: flex;
	width: 100%;
}

.arrow {
	background-color: #35A7F4;
	width: 16px;
	height: 100%;
}

.arrow img {
	width: 15px;
	height: 100%;
	object-fit: contain;
	margin: auto;
}

.job_btn {
	display: flex;
	flex-flow: row wrap;
	gap: 10px 20px;
	padding: 0 10px;
	justify-content: center;
	margin-bottom: 20px;
}

.job_btn a {
	width: 100%;
	height: 60px;
	background-color: #DAE1F1;
	padding: 0;
	display: flex;
	align-items: center;
	text-decoration: unset;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.job_btn p {
	display: flex;
	gap: 12px;
	margin: 0;
	align-items: center;
}

.job_btn .sales::before {
	content: "";
	display: block;
	background: url(tie.png) no-repeat center;
	background-size: contain;
	width: 30px;
	height: 30px;
}

.job_btn .deve::before {
	content: "";
	display: block;
	background: url(pc.png) no-repeat center;
	background-size: contain;
	width: 30px;
	height: 30px;
}

.job_btn .web::before {
	content: "";
	display: block;
	background: url(paints.png) no-repeat center;
	background-size: contain;
	width: 30px;
	height: 30px;
}

@media (min-width: 360px) {
	.job_btn {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 380px) {
	.job_btn a {
		font-size: 18px;
	}
}

@media (min-width: 1000px) {
	.job_btn {
		grid-template-columns: 1fr 1fr 1fr;
	}
}


/* 一般セクション */

.content {
	border-radius: 20px;
	border: 1px solid #00509B;
	margin: 30px 8px;
	background-color: #fff;
	padding-bottom: 32px;
}

.content h2,
#company_gallery h3 {
 display: flex;
 justify-content: space-between;
 color: #00509B;
 align-items: center;
 gap: 20px;
 font-size: 20px;
 padding-left: unset;
}

.content h2::before,
.content h2::after,
#company_gallery h3::before,
#company_gallery h3::after {
	content: "";
	border-style: solid none;
	flex-grow: 1;
	height: 4px;
	border-width: 2px;
	border-color: #00509B;
	min-width: 16px;
	background: unset;
}

.content h3,.g h3,h4 {
	display: flex;
	gap: 10px;
	align-items: center;
	padding-left: 8px;
	color: #00509B;
}

.content h3::before,.g h3::before,h4::before {
	content: "";
	display: block;
	width: 8px;
	height: 32px;
	background: linear-gradient(180deg, #00509B 0%, #5572B6 100%);
}

.content p,.g p {
	margin: 0 10px;
}

#about_company .tc {
	text-decoration: underline .5px;
	color: #000;
}

/* 作っているもの */

#business ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 10px;
	gap: 20px;
}

#business li {
	position: relative;
}

#business li::after {
	display: block;
	content: "";
	background: url(glass.svg) no-repeat center;
	background-size: contain;
	width: clamp(40px, 4em ,50px);
	height: clamp(40px, 4em ,50px);
	position: absolute;
	bottom: 20%;
	right: 2%;
}

#business img {
	aspect-ratio: 1 / 1;
	width: 100%;
	object-fit: cover;
}

#business li p {
	text-decoration: underline 1px;
	padding: 0;
}

@media (min-width: 450px) {
	#business li::after {
		bottom: 16%;
	}
}

@media (min-width: 720px) {
	#business ul {
		grid-template-columns: 1fr 1fr 1fr;
	}

	#business img {
		aspect-ratio: 4 / 3;
	}

	#business li::after {
		bottom: 26%;
	}
}

@media (min-width: 1000px) {
	#business li::after {
		bottom: 20%;
	}
}

/* 傾向グラフ */
#tendency dl dt {
	text-align: center;
}

.tendency_bar {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0.5em 0 2em;
	padding: 0;
}

.tendency_bar .p1 {
	float: left;
	width: 8em;
	text-align: left;
}

.tendency_bar .graph {
	display: block;
	width: 100%;
	height: 24px;
}

.tendency_bar .p2 {
	float: right;
	width: 8em;
	text-align: right;
}

@supports (display: flex) {
	@media all and (min-width: 480px) {

		.tendency_bar {
			display: flex;
			align-items: center;
		}

		.tendency_bar .p1 {
			text-align: right;
			order: 1;
			flex: 1 0 8em;
		}

		.tendency_bar .graph {
			margin: 0 16px;
			order: 2;
		}

		.tendency_bar .p2 {
			text-align: left;
			order: 3;
			flex: 1 0 8em;
		}
	}
}

/* 数値で見る当社 */
.g .remark {
	text-align: center;
}

.large {
	border: 6px solid #35A7F4;
	margin: 10px;
	padding: 30px 24px 12px;
}

.gr_con {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	gap: 10px;
	padding: 0 10px;
}

.gr_con .small {
	border: 6px solid #35A7F4;
	aspect-ratio: 1 / 1;
}

#numeric_data p {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin-top: 8px;
}

#numeric_data .num {
	color: #000;
	font-size: clamp(1.25rem, -0.75rem + 20vw, 1.5rem);
}

#numeric_data .num span {
	color: #35A7F4;
	font-size: clamp(2.5rem, 1.591rem + 4.55vw, 2.5rem);
}

#numeric_data .gr_con .num {
	position: relative;
	top: 30%;
	transform: translateY(-65%);	
}

#numeric_data .at {
	font-size: 14px;
	font-weight: 400;
	color: #000;
	position: relative;
	top: 28%;
	transform: translateY(-90%);
}

#numeric_data .large {
	display: flex;
	align-self: flex-start;
	flex-flow: row wrap;
	align-items: flex-end;
}

#numeric_data .large .year {
	margin: 8px 0 0 auto;
}

#numeric_data .large .num {
	margin-top: 0;
}

.chart svg text {
	font-family: sans-serif;
  font-weight: bold;
  fill: #ffffff;
  text-shadow: 0 0 2px black;
}


.fl_con {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	gap: 10px;
	padding: 0 10px;
}

.fl_con li {
	text-align: center;
}


/* 社長メッセージ */

.pre_con {
	max-width: 640px;
	margin: 0 auto;
}

/* 会社概要 */

.map {
	aspect-ratio: 3 / 2;
	width: 100%;
}

/* 採用データページ */
.jobinfo {
	box-sizing: border-box;
	margin: 0.5em 0;
	border: 1px solid black;
	padding: 8px; 
	overflow: auto;
}

.jobinfo > summary {
	display: block;
}

/* Safari 用 */
.jobinfo > summary::-webkit-details-marker {
  display: none;
}

.jobinfo > summary > .title {
	margin: 0;
	padding: 0;
	font-size: x-large;
	font-weight: bold;
}

.jobinfo > summary > .title::before {
	content: "＋";
	float: right;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 36px;
	cursor: pointer;
}

.jobinfo[open] > summary > .title::before {
	content: "－";
	float: right;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 36px;
	cursor: pointer;
}

.jobinfo h4 {
	color: #3C5DA8;
	font-size: large;
	margin: 1em 0 0 0;
}

dl.speclist {
	margin: 0.5em 0;
}

dl.speclist > div > div > dt {
	font-weight: bold;
	color: #00509B;
}

dl.speclist > div > div > dd {
	margin: 0;
	padding: 0 0 0 1em;
	width: 100%;
}

dl.speclist > div > dd iframe {
	aspect-ratio: 4/3;
	width: 100%;
	border: 0;
}

dl.speclist > div {
	border-bottom: 1px solid black;
	padding: 18px;
}

.li_style li {
	list-style: inside;
}

@media (min-width: 900px) {
	.speclist > div {
		width: 90%;
		margin: auto;
	}

.speclist > div > div {
	display: flex;
	padding-left: 20px;
}

	.speclist > div > div > dt {
		width: 55px;
	}

	.map {
		aspect-ratio: 2 / 1;
	}
}

/* キャプション付きの図 */
figure.portrait {
	float: right;
	box-sizing: border-box;
	width: 30%;
	min-width: 120px;
	margin: -2em 0.5em 1em 1.5em;
}

figure.center {
	width: 50%;
	min-width: 300px;
	margin: 1em auto;
}

figure > img {
	width: 100%;
}

figure figcaption {
	text-align: center;
}

.word {
	flex-wrap: wrap;
	align-items: center;
	column-gap: 6px;
	font-size: large;
	letter-spacing: 0.14em;
}

/* 最下部のボタンナビ */
.highschool .btn_navi {
	text-align: center;
	margin: 1em 8px;
}

.highschool .btn_navi .btn {
	display: inline-block;
	margin: 0.5em;
	padding: 8px;
	background-color: #3C5DA8;
	border: 1px solid #3C5DA8;
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

.highschool .btn_navi .btn:hover {
	transition: background-color 0.5s, color 0.5s;
	background-color: white;
	color: #3C5DA8;
}

/*====================
 * エントリーページ
 */
.entry_info h1 {
	margin: 0;
	padding: 0.5em 0;
	background-color: #dae1f1;
	text-align: center;
}

.fv_area

/*====================
 * 共通部品
 */
/* 画像付きナビ */
.image_navi {
	padding: 0 25px;
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.image_navi > li {
	margin: 0.5em auto;
	padding: 0;
	min-width: 180px;
	max-width: 280px;
}

.image_navi figure {
	position: relative;
	margin: 0;
}


.image_navi figure figcaption {
	position: absolute;
	font-size: 20px;
	vertical-align: middle;
	bottom: 0;
	width: 100%;
	color: white;
	font-weight: bold;
	text-align: right;
	text-shadow: 0px 0px 3px black;
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0.8) 100%);

}

.image_navi figure figcaption::after {
	display: inline-block;
	margin-left: 0.5em;
	padding: 0px;
	width: 55px;
	height: 55px;
	vertical-align: middle;
	background-image: url(circle-link.svg);
	background-size: cover;
	content: "";
}

@media (min-width: 750px) {
	.image_navi {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.image_navi > li {
		max-width: 360px;
		width: 96%;
	}
}

.flag_btn_entry {
		display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2%;
    margin: 32px auto;
    padding: 4px;
    width: 70%;
    max-width: 320px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 2px black;
    background: repeating-linear-gradient(135deg, #3396F3, #3396F3 10px, #35A7F4 10px, #35A7F4 20px);
}

/* 一般写真 */
img.scene {
	display: block;
	width: 100%;
	max-width: 480px;
	margin: 1em auto;
}

@media(min-width:640px){
	.images {
		display: grid;
		grid-template-areas: 
		"first second";
		grid-template-columns:1fr 1fr;
		grid-template-rows:1fr;
		gap:8px;
		margin: 12px;
	}

	.grid-img {
		grid-template-areas: 
		"first second"
		"third .";
		grid-template-rows:1fr 1fr;
	}
}

/* YouTube チャンネル */
.youtube_channel.button {
	display: block;
	margin: 1em auto;
	padding: 0.5em 1em;
	width: fit-content;
	background-color: red;
	color: white;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}

.youtube_channel.button .wrap {
	display: inline-block;
}

/* 育休・新中の円グラフ */

.gr_con .circle .one {
	background-image: radial-gradient(#fff 0% 35%, transparent 36%),
	conic-gradient(#2378C7 0% 10%, #d9d9d9 10% 100%);
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	width: 150px;
}

.gr_con .circle .two {
	background-image: radial-gradient(#fff 0% 35%, transparent 36%),
	conic-gradient(#2378C7 0% 60%, #F34444 60% 100%);
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	width: 150px;
}

#numeric_data .gr_con .one .num,
#numeric_data .gr_con .two .num {
	top: 85px;
}
/*      

数字で見るの動くグラフ

        */

.gr_con .circle {
	max-width: 160px;
	margin: 0 auto;
}

.fl_con .circle{
    display:inline-block;
    transform:rotate(-90deg);
  }

.fl_con .circle .type{
    fill:transparent;
    stroke-width:100;
  }

/*   

応募前見学応募ページ

*/
.highschool main .fv_wr {
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 2px black;
}

.highschool main .fv_wr img {
	width: 100%;
	height: auto;
	aspect-ratio: 3/2;
	object-fit: cover;
}

.highschool main .fv_wr .apply  {
	position: absolute;
	bottom: 30px;
	left: 0;
}

.highschool main .fv_wr .catch {
	margin: 0;
	font-size: clamp(1.125rem, 0.852rem + 1.36vw, 1.875rem);
	font-weight: bold;
	padding: 4px;
	background-color: rgba(255, 255, 255, 0.8);
	width: fit-content;
}

.highschool main .fv_wr .tag  {
	font-size: clamp(1.5rem, 1.5455rem + 1.9394vw, 3rem);
	color: white;
	padding: 10px 15px;
	font-weight: bold;
	border: 1px solid white;;
	background: repeating-linear-gradient(135deg, #3396F3, #3396F3 10px, #35A7F4 10px, #35A7F4 20px);
}

/*

○○会社の応募前見学の内容

*/

.highschool #list {
	border: 1px solid #00509B;
	border-radius: 20px;
	margin: 1em 0;
	padding: 1em 10px;
	background-color: white;
}

#list .list-wr {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;	
}

#list .list-wr li {
	position: relative;
	max-width: 360px;
}

#list .list-wr img {
	display: block;
	width: 100%;
}

.highschool #list .list-wr .date {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-weight: bold;
	padding: 10px 15px;
	background-color: rgb(255, 255, 255, 80%);
	
}


.highschool #list .list-wr .date dd {
	color: #00509B;
	margin: 0;
}

.highschool #list .catch {
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: white;
	font-weight: bold;
	font-size: clamp(1.0625rem, 0.9489rem + 0.4848vw, 1.3125rem);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.highschool #list .catch::after {
	content: url(./pointer.svg);
	display: block;
	position: absolute;
	bottom: -15px;
	right: -65px;
}

/*

具体的な応募前見学コンテンツ

*/
.highschool #content .catchcopy {
margin: 1em 0;
font-weight: bold;
font-size: clamp(1.25rem, 1.0227rem + 0.9697vw, 1.75rem);
}

.highschool #content .catchcopy span {
	display: inline-block;
	padding: 5px 15px;
	margin: 2px 0;
	background-color: #00509B;
	color: white;
}
